<h2 style="font-size: 45px; text-align:center;"> <strong>All lists</strong></h2>

<div class="row mb-5">
  <% @lists.each do |list| %>
    <div class="col-sm-4">
      <div class="card mb-4">
        <%= cl_image_tag list.photo.key, alt: "Film", style:"height: 270px;", crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"> <strong><%=link_to list.name, list_path(list), style:"color: black; font-size: 25px; text-decoration: none;"%></strong></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "Create new list", new_list_path, class:"btn btn-primary mb-5", style:"width: 400px; font-size: 25px;" %>
