<h1>New bookmark</h1>
<br>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.text_field :comment %>
  <%= f.submit "Add bookmark", class: "btn btn-primary" %>
<% end %>
